body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    /* font-size: 2em; */
}
p{
    line-height: 2;
}
hr {
    border: dotted #EAF6F6 7px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    /* font-size: 90px; */
    /* font-size: 562.5%; */
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
}
h2{
    color: #66BFBF;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Merriweather', sans-serif;
}
.DP{
    height: 200px;
    width: 200px;
}
/* h1{
    width: 10%;
    margin: 0 auto;
} */
.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 50px;
}
.middle-container{
    margin: 100px 0;
    
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 0 0;
    padding-block-end: 5px;
}
.web{
    text-decoration: underline;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-cloud{
    position: relative;
    left: 250px;
}
.bottom-cloud{
    position: absolute;
    left: 200px;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;    
}
.angular-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.web-img{
    width: 30%;
    float: right;
    margin-left: 35px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 10px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
/* .angular-skill-description{
    clear: left;
}

.web-skill-description{
    clear: right;
} */
